<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>acswebservices</name>
	<displayName><![CDATA[ACS Web Services]]></displayName>
	<version><![CDATA[0.1]]></version>
	<description><![CDATA[Calculates shipping costs from ACS Web Services]]></description>
	<author><![CDATA[Panagiotis Vagenas &lt;pan.vagenas@gmail.com&gt;]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>